<%- include("../partials/header") %>

<title>Admin Home</title>
</head>
<body>
<%- include("../partials/navbar") %> 
<%- include("../partials/flash") %>
<main>
    <div class="container my-3">
        <h2 class="text-center my-2">Admin Actions</h2>
        <hr>
        <div class=" row p-4">
                
                <div class=" actions card text-center col-md my-2 p-5">
                    <div class=" action-item card-body p-3">
                      <h5 class="card-title"><a href="/admin/products">Products</a></h5>
                    </div> 
                  </div>
            
                <div class="actions  card text-center col-md my-2 p-5">
                    <div class=" action-item card-body">
                      <h5 class="card-title"><a href="/admin/user">Users</a></h5>
                    </div> 
                  </div>
            
                <div class=" actions card text-center col-md my-2 p-5">
                    <div class=" action-item card-body">
                      <h5 class="card-title"><a href="/admin/orders">Orders</a></h5>
                    </div> 
                  </div>
            
            <!-- <div class="action-item col-md m-3 d-flex justify-content-center align-items-center"><a href="/admin/user">Users</a></div>
            <div class="action-item col-md m-3 d-flex justify-content-center align-items-center"><a href="/admin/orders">Orders</a></div> -->
        </div>
    </div>
</main>
<%- include("../partials/footer") %>