<%if(login!=""){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= login %> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <%}
  if(success!=""){%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= success %> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <%}
  if(error!=""){%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= error %> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <%}
  if(status!=""){%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= status %> 
      <button type="button" class="btn-close alert-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <%}%>