<%- include("../partials/header") %> 
<title>ERROR</title>
</head>
<body>
<%- include("../partials/navbar") %> 
<div class="errorpage d-flex flex-column justify-content-center align-items-center text-center" style="height:70vh">
<img src="/images/Cross.png" alt="" width="100px" height="100px" class="my-2">
<h5><%=status%> Error</h5>
<h5>Sorry Something Went Wrong...</h5>

<a href="/">Click Here to Go to Home Page</a>
</div>
<%- include("../partials/footer") %>
<script>
    
</script>